Flask>=3.0,<4
Flask-SQLAlchemy>=3.1,<4
python-dateutil>=2.9,<3
resend>=2.0,<3
python-dotenv==1.2.3
gunicorn
psycopg2-binary>=2.9,<3
cloudinary
python-dateutil
phonenumbers>=8.13,<10
email-validator>=2.0,<3
qrcode>=8.0,<9
tzdata>=2025.1
openpyxl>=3.1.5,<4
defusedxml>=0.7.1,<1
